.profile {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 20px;
    float: left;
}
h2 {
    margin-top: 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 5px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .custom-file-upload:hover {
    background-color: #e9e9e9;
  }
  
  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
    width: 400px; 
    height: 400px;
  }
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .card-header {
    display: flex;
    align-items: center; /* Vertical alignment */
  }
  
  .image-container {
    margin-right: auto; /* Pushes the images to the left */
  }
  
  .custom-file-upload {
    margin-left: auto; /* Pushes the button to the right */
    padding-top: 10px;
  }
  