mat-form-field {
    width: 90%;
  }
  .id-name {
    width: 35%;
    margin-right: 5px;
  }
  .id-number {
    width: 55%;
    margin-left: 5px;
  }
  .phone-name {
    width: 45px;
    margin-right: 5px;
  }
  .country-code {
    width: 25%;
    margin-left: 1px;
  }
  .phone-number {
    width: 65%;
    margin-left: 5px;
  }
  .btn-sec {
    margin-right: 5rem !important;
    text-align: right;
    margin-top: 1.5em;
  }
  .Update-btn {
    margin: 5px;
  }
  .Discard-btn {
    margin: 5px;
  }
  .text-inside {
    position: absolute;
    left: 5px;
    width: 100%;
  }
  @media (max-width: 800px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }
  @media (max-width: 600px) {
    .btn-sec {
      margin-right: 1rem !important;
    }
  }


  .example-h2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .example-section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
  
  .example-margin {
    margin: 8px;
  }
  
  .example-width {
    max-width: 180px;
    width: 100%;
  }
  
  .mat-mdc-slider {
    max-width: 300px;
    width: 100%;
  }
  
  .mat-mdc-card + .mat-mdc-card {
    margin-top: 8px;
  }
  
  .example-result-card h2 {
    margin: 0 8px;
  }
  
  .example-label-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0;
    max-width: 284px;
  }
  
  .example-result-card .example-value-label {
    font-weight: 600;
  }

  mat-slider {
    width: 300px;
  }
  .cancel-btn {
    background-color: #ff3333; 
    color: #fff; 
    padding: 10px 20px; 
    border: 2px solid #ff3333;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}

.save-btn {
    background-color: #00cc66; 
    color: #fff; 
    padding: 10px 20px;
    border: 2px solid #00cc66; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}


::ng-deep .mat-slider-thumb {
    background-color: black !important;
}

::ng-deep .mat-slider-track-fill {
    background-color: black !important;
}
  
.text-danger{
  color: #ff3333;
}

.example-chip-list {
  width: 100%;
}

  